commands:
  00_mkdir_log:
    command: mkdir -p /var/app/log
  01_change_logdir_permissions:
    command: chmod g+s /var/app/log
  02_change_logdir_owner:
    command: chown webapp:webapp /var/app/log
  03_touch_ccf_log:
    command: touch /var/app/log/ccf.log
  04_change_ccf_log_permissions:
    command: chmod g+s /var/app/log/ccf.log
  05_own_ccf_log:
    command: chown webapp:webapp /var/app/log/ccf.log
  06_touch_info_log:
    command: touch /var/app/log/info.log
  07_change_info_log_permissions:
    command: chmod g+s /var/app/log/info.log
  08_own_info_log:
    command: chown webapp:webapp /var/app/log/info.log

container_commands:
  00_pip_upgrade:
    command: "pip install -I --force-reinstall pip"
