packages:
  yum:
    gettext: []

container_commands:
  00_collect_static:
    command: "chmod +x .platform/hooks/predeploy/django_cmds.sh"

files:
  "/opt/elasticbeanstalk/config/private/logtasks/tail/app-activity.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      /var/app/log/*.log

  "/opt/elasticbeanstalk/config/private/logtasks/bundle/app-activity.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      /var/app/log/*.log

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ccf.wsgi
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: ccf.settings

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
